body {
    background-color: aliceblue;
    margin: 0px;
}

.bgAzul {
    background-color: #3f51b59e;
    color: aliceblue;
}

.colorAzul {
    color: #3f51b59e;
}

.margin0 {
    margin: 0px;
}

.padding5 {
    padding: 5px;
}

.displayFlex {
    display: flex;
}

.centrarContenido {
    justify-content: center;
}

.cabecera {
    font-style: oblique;
    font-family: system-ui;
    letter-spacing: 1px;
}