body {
    background-color: aliceblue;
    margin: 0px;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

tr {
    text-align: center;
}

.bgAzul {
    background-color: #3f51b59e;
    color: aliceblue;
}

.colorAzul {
    color: #3f51b59e;
}

.colorFilaTabla {
    color: #3f51b59e;
}

.colorFilaTabla:hover {
    background-color: #3f51b59e;
    color: aliceblue;
}

.margin0 {
    margin: 0px;
}

.padding5 {
    padding: 5px;
}

.displayFlex {
    display: flex;
}

.displayBlock {
    display: block;
}

.centrarContenido {
    justify-content: center;
}

.cabecera {
    font-style: oblique;
    font-family: system-ui;
    letter-spacing: 1px;
}

.borderInputText {
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
}

.borderInputText:focus {
    border-style: solid;
    border-color: #3483fa;
    border-width: 1.5px;
    outline: 0;
}

.borderTopSolid {
    border-top: solid 1px;
    border-top-color: #dee2e6;
}

.borderBottomSolid {
    border-bottom-style: solid;
    border-bottom-color: #dee2e6;
    border-bottom-width: 2px;
}

.divTabla {
    border-style: solid;
    border-width: 1px;
    border-color: #dee2e6;
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.width50 {
    width: 50%;
}

.cursorPointer {
    cursor: pointer;
}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
    border-radius: 10px;
  }
  @media (max-width : 900px) {
    .modal-content{
        width: 95%;
    }
  }